/* All common css start */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All common css end */

/* Header Part CSS Start */
.navbar {
    position: fixed;
    z-index: 99 !important;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;
    background: #FBF3F01a;
    backdrop-filter: blur(5px);
}

.navbar-brand img {
    transition: .5s;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.nav-link {
    color: #29313D;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: .5s;
    margin: 0 20px;
    position: relative;
}

.nav-link:hover {
    color: #FF5538;
    background: #ffffff80;
    border-radius: 10px;
    transform: scale(1.1);
}

.nav-link:hover i {
    color: #FF5538;
    transform: scale(1.1);
}

.nav-link i {
    color: #29313D;
    transition: .5s;
}

.nav-link::before {
    position: absolute;
    height: 3px;
    width: 0%;
    background: #FF5538;
    top: 8px;
    left: 8px;
    border-radius: 3px;
    content: "";
    transition: .5s;
}

.nav-link:hover::before {
    width: 50%;
}

.nav-link::after {
    position: absolute;
    height: 3px;
    width: 0%;
    background: #FF5538;
    bottom: 5px;
    left: 8px;
    border-radius: 3px;
    content: "";
    transition: .5s;
}

.nav-link:hover::after {
    width: 80%;
}

.headerBtn a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #FF5538;
    border-radius: 18px;
    padding: 15px 30px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #FF5538;
    transition: .5s;
}

.headerBtn a:hover {
    color: #FF5538;
    background: transparent;
}

/* Header Part CSS End */

/* Container Out Side Content CSS Start */
.outText {
    position: fixed;
    z-index: 98 !important;
    display: flex;
    top: 380px;
    left: -200px;
    align-items: center;
    flex-wrap: nowrap;
    transform: rotate(-90deg);
    transition: .5s;
}

.outText:hover {
    background: #ffffff1a;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.outText .email {
    margin: 0 50px;
}

.outText .email a {
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    transition: .5s;
}

.outText .email a:hover {
    color: #FF5538;
}

.outText .en a {
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    transition: .5s;
}

.outText .en a:hover {
    color: #FF5538;
}

.outText .fr {
    margin: 0 20px;
}

.outText .fr a {
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    transition: .5s;
}

.outText .fr a:hover {
    color: #FF5538;
}

.outText .ge a {
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    transition: .5s;
}

.outText .ge a:hover {
    color: #FF5538;
}

.outText .scroll {
    display: flex;
    align-items: center;
}

.outText .scroll a {
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    transition: .5s;
}

.outText .scroll a:hover {
    color: #FF5538;
}

.outText .scroll img {
    transform: rotate(90deg);
    margin-right: 30px;
}

/* Container Out Side Content CSS End */

/* Bannar Part CSS Start */
#bannerPart {
    padding: 243px 0;
    background: url(../images/Header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannarHeading h1 {
    font-size: 64px;
    font-weight: 700;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    width: 650px;
    line-height: 130%;
}

.bannarHeading p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    text-transform: capitalize;
    padding: 25px 0 45px 0;
    text-align: center;
    margin: 0 auto;
    width: 550px;
    line-height: 200%;
}

.bannarBtn {
    display: flex;
    justify-content: center;
}

.bannarBtn a {
    padding: 15px 30px;
    background: #FF5538;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    border-radius: 18px;
    margin: 12px;
    border: 1px solid #FF5538;
    transition: .5s;
}

.bannarBtn a:hover {
    background: transparent;
    color: #FF5538;
}

/* Bannar Part CSS End */

/* About Card CSS Start */
.aboutBox {
    position: relative;
}

.aboutCardOne {
    padding: 30px;
    background: #fff;
    position: absolute;
    top: -200px;
    left: 0;
    box-shadow: 0px 10px 20px 0px #0000001a;
    transition: .5s;
}

.aboutCardOne:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px 0px #00000034;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 0 50px;
}

.aboutCardOne h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    line-height: 160%;
    padding: 35px 0 15px 0;
}

.aboutCardOne p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    line-height: 200%;
}

.aboutCardTwo {
    padding: 30px;
    background: #fff;
    position: absolute;
    top: -200px;
    left: 0;
    box-shadow: 0px 10px 20px 0px #0000001a;
    transition: .5s;
}

.aboutCardTwo:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px 0px #00000034;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 50px;
}

.aboutCardTwo h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    line-height: 160%;
    padding: 35px 0 15px 0;
}

.aboutCardTwo p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    line-height: 200%;
}

.aboutCardThree {
    padding: 30px;
    background: #fff;
    position: absolute;
    top: -200px;
    left: 0;
    box-shadow: 0px 10px 20px 0px #0000001a;
    transition: .5s;
}

.aboutCardThree:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px 0px #00000034;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 50px 0;
}

.aboutCardThree img {
    padding-bottom: 5px;
}

.aboutCardThree h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    line-height: 160%;
    padding: 35px 0 15px 0;
}

.aboutCardThree p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    line-height: 200%;
}

/* About Card CSS End */

/* Digital Experience CSS Part Start */
#expreiencePart {
    padding-bottom: 700px;
    overflow: hidden;
}

.expImgOne {
    position: relative;
}

.expImgOne img {
    position: absolute;
    top: 550px;
    right: 0;
    z-index: 96 !important;
}

.expText {
    padding-top: 225px;
}

.expText h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    color: #FF5538;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.expText h3 {
    font-size: 46px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 10px 0;
}

.expBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.expBoxOne {
    position: relative;
}

.expBoxOneColor {
    background: #C4C4C4;
    height: 465px;
    width: 945px;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 97 !important;
}

.expBoxTwo {
    position: relative;
}

.expBoxTwo img {
    position: absolute;
    top: -50px;
    right: 0;
}

.expBoxTwoColor {
    background: #fbf3f0cc;
    height: 565px;
    width: 945px;
    position: absolute;
    z-index: 95 !important;
}

.expBoxTwoText {
    padding: 100px 0 100px 185px;
}

.expBoxTwoText h3 {
    font-size: 36px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    padding-right: 200px;
}

.expBoxTwoText p {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 200%;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    padding: 20px 280px 50px 0;
}

.expBoxTwoText .expBtn a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 200%;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    padding: 15px 30px;
    background: #FF5538;
    border: 1px solid #FF5538;
    border-radius: 18px;
    transition: .5s;
}

.expBoxTwoText a:hover {
    color: #FF5538;
    background: transparent;
}

.expBoxTwoImg img {
    position: absolute;
    top: -100px;
    right: 0;
}

/* Experience CSS Part End */

/* Digital Part CSS Start */
#digitalPart {
    padding-bottom: 110px;
}

.digiImgHolder {
    position: relative;
}

.digiImgHolder img {
    position: absolute;
    z-index: 94 !important;
    top: -185px;
    left: 0;
}

.digitalHeading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.digiHeadLeft h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FF5538;
    text-transform: capitalize;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
}

.digiHeadLeft h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    text-transform: capitalize;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
}

.digiBtn {
    padding-top: 50px;
}

.digiBtn a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    padding: 15px 30px;
    background: #FF5538;
    border: 1px solid #FF5538;
    border-radius: 18px;
    transition: .5s;
}

.digiBtn a:hover {
    color: #FF5538;
    background: transparent;
}

.digitalBox {
    box-shadow: 0px 10px 20px 0px #0000001a;
    transition: .5s;
}

.digitalBox:hover {
    box-shadow: 0px 10px 20px 0px #00000034;
    border-radius: 25px;
    transform: scale(1.025);
}

.digitalBox:hover .digitalBoxImage {
    border-radius: 25px 25px 0 0;
}

.digitalBoxImage {
    height: 330px;
    background: #C4C4C4;
    transition: .5s;
}

.digitalBoxText h3 {
    font-size: 28px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
}

.digitalBoxText {
    padding: 30px 0 30px 30px;
}

.digitalBoxText a {
    font-size: 18px;
    font-weight: 500;
    color: #FF5538;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
}

.digiImgHld2 {
    position: relative;
}

.digiImgHld2 img {
    position: absolute;
    top: 0;
    right: -50px;
}

/* Digital Part CSS End */


/* Counter Part CSS Start */
#counterPart {
    padding: 120px 0;
    background: url(../images/CounterBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .counterLeft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
.counterBox {
    padding: 75px 60px;
    background: #fff;
    width: 260px;
    height: 230px;
}

.counterBox h3 {
    font-size: 40px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.counterBox p {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.counterText {
    padding-left: 100px;
}

.counterText h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.counterText p {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    text-align: justify;
    padding: 20px 95px 55px 0;
}

.counterText .counterBtn a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    padding: 15px 30px;
    background: #FF5538;
    border: 1px solid #FF5538;
    border-radius: 18px;
    transition: .5s;
}

.counterText a:hover {
    color: #FF5538;
    background: transparent;
}

/* Counter Part CSS End */

/* Patners Part CSS Start */
#patnersPart {
    padding: 120px 0;
}

#patnersPart h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 0 240px 60px;
}

/* Patners Part CSS End */

/* Review Part CSS End */
#reviewPart {
    padding: 120px 0;
    background: #FDF9F8;
}

.reviewLeft h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.reviewLeft p {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
}

.reviewLeft h4 {
    font-size: 36px;
    font-weight: 600;
    color: #29313D;
    line-height: 180%;
    font-family: "Open Sans", sans-serif;
}

.reviewLeft i {
    font-size: 24px;
    color: #fff;
    background: #FF5538;
    padding: 10px 28px 10px 15px;
    border-radius: 10px;
    margin-left: 15px;
    transition: .5s;
}
.reviewLeft i:hover {
    color: #130F26;
    background: #FFDDD7;
}

.reviewBox {
    padding: 60px 0;
}

.reviewCard {
    height: 100px;
    width: 100px;
    background: #C4C4C4;
    border-radius: 20px;
    display: inline-block;
    margin-right: 28px;
}

.reviewRight {
    height: 460px;
    width: 440px;
    background: #C4C4C4;
    border-radius: 30px;
    margin: 0 0 0 100px;
}

/* Review Part CSS End */

/* Project Part CSS End */
#projectPart {
    padding: 100px 0;
    background: url(../images/Project.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projectTop {
    display: flex;
    justify-content: space-between;
}

.projectTop h4 {
    font-size: 20px;
    font-weight: 400;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.projectTop h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.projectTop a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    padding: 15px 30px;
    background: #FF5538;
    border-radius: 18px;
    border: 1px solid #FF5538;
    transition: .5s;
}

.projectTop a:hover {
    color: #FF5538;
    background: transparent;
}

.pTBtn {
    padding-top: 10px;
}

.ProjectBottom {
    padding: 1px 0;
    background: #29313D;
    margin: 50px 0 25px 0;
    filter: opacity(20%);
}

.pBTxt p {
    font-size: 20px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    padding-right: 62px;
}

/* Project Part CSS End */

/* Footer Part CSS Start */

#footerPart {
    padding: 140px 0 60px 0;
    background: #fff;
}

.footerRight img {
    transition: .5s;
}

.footerRight img:hover {
    transform: scale(1.1);
}

.footerRight p {
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    padding-top: 44px;
}

.footerLinksPart {
    display: flex;
    justify-content: space-between;
}

.footerLinksOne {
    padding-left: 125px;
}

.footerLinksOne h3 {
    font-size: 24px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 30px 30px;
}

.footerLinks h3 {
    font-size: 24px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 30px 30px;
}

.footerLinksPart ul li {
    margin-top: 30px;
}

.footerLinksPart ul li a {
    font-size: 20px;
    font-weight: 600;
    color: #29313D;
    line-height: 120%;
    font-family: "Nunito", sans-serif;
    transition: .5s;
    position: relative;
}

.footerLinksPart ul li a:hover {
    color: #FF5538;
}

.footerLinksPart ul li a::before {
    position: absolute;
    height: 0;
    width: 0%;
    background: #FF5538;
    top: 0;
    left: 0;
    content: "";
    transition: .5s;
}

.footerLinksPart ul li a:hover::before {
    position: absolute;
    height: 3px;
    width: 75%;
    background: #FF5538;
    top: 0;
    left: 0;
    content: "";
    border-radius: 3px;
}

.footerLinksPart ul li a::after {
    position: absolute;
    height: 0;
    width: 0%;
    background: #FF5538;
    bottom: 0;
    left: 0;
    content: "";
    transition: .5s;
}

.footerLinksPart ul li a:hover::after {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FF5538;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 3px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.crRight {
    display: flex;
}

.crRight a {
    padding-right: 60px;
}

.copyright a {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    filter: opacity(90%);
    font-family: "Nunito", sans-serif;
    transition: .5s;
}
.copyright a:hover {
    color: #FF5538;
    font-weight: 700;
    filter: opacity(100%);
}

/* Footer Part CSS End */